<app-lotd></app-lotd>

<h1>Login:</h1>

{{ logger | json }}

<form (submit)="login()">
	<p>Email:<input type="text" name="logger.email" [(ngModel)]="logger.email"></p>
	<p>Password:<input type="password" name="logger.password" [(ngModel)]="logger.password"></p>
	<input type="submit" value="Login">
</form>

<div *ngFor="let error of errors">
	<p class="error">{{error}}</p>
</div>

<h1>Register:</h1>

{{ registrar | json }}

<form (submit)="register()">
	<p>First:<input type="text" name="registrar.first" [(ngModel)]="registrar.first"></p>
	<p>Last:<input type="text" name="registrar.last" [(ngModel)]="registrar.last"></p>
	<p>Email:<input type="text" name="registrar.email" [(ngModel)]="registrar.email"></p>
	<p>Password:<input type="password" name="registrar.password" [(ngModel)]="registrar.password"></p>
	<p>Confirm:<input type="password" name="registrar.confirm" [(ngModel)]="registrar.confirm"></p>
	<input type="submit" value="Register">
</form>