<h1>Create Listing</h1>

<div *ngFor="let error of errors">
	<p class="error">{{error}}</p>
</div>

{{ listing | json }}

<form (submit)="create()">
	<p>Title:<input type="text" name="listing.title" [(ngModel)]="listing.title" ></p>
	<p>Description:<input type="text" name="listing.description" [(ngModel)]="listing.description" ></p>
	<p>Price:<input type="number" name="listing.price" [(ngModel)]="listing.price" ></p>
	<p>Location:<input type="text" name="listing.location" [(ngModel)]="listing.location" ></p>
	<p>Image:<input type="text" name="listing.img" [(ngModel)]="listing.img" ></p>

	<input type="submit" value="Create Listing">
</form>

<h1>Edit / Update Listings</h1>

<app-update-listing (emitter)="onDelete($event)" *ngFor="let listing of listings" [listing]="listing" ></app-update-listing>